.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid #000;
  }

  &:focus {
    border: 1px solid #4e75ff;
    outline: transparent;
  }
}

.form-btn {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: #6c8cff;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.img-descr-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.img-descr {
  display: flex;
  padding: 4px 0;
  height: 40px;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.descr-title {
  font-weight: 600;
  line-height: 1.33333;
}

.descr-text {
  line-height: 2;
}

.iziToast .iziToast-close {
  background: url('../img/toast-close.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: 16px !important;
}

.iziToast .ico-warning {
  background: url('../img/toast-error.svg') !important;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 20px;
  visibility: hidden;
}

.loader-wrapper.is-visible {
  visibility: visible;
}

.loader {
  width: 138px;
  height: 138px;
  border: 15px dotted #4e75ff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
